body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.name {
    color: green;
}

.color-green {
    color: green;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 3%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    padding: 10px 30px;
    color: azure;
    border-radius: 55px;
    background-image: linear-gradient(rgb(22, 207, 152), rgb(55, 4, 240));
    font-weight: 600;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/side-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: 3%;
}

.box-shadow {
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 8%;
}

.experience-area {
    background-image: url(images/exp.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

#full-stack {
    border-left: 6px solid rgb(84, 20, 187);
}

#social-media {
    border-left: 6px solid rgb(60, 60, 235);
}

.footer {
    margin: 10px;
    padding: 60px;
}

.footer-bottom {
    text-align: center;
}