body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.name {
    color: green;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    padding: 10px 30px;
    color: azure;
    border-radius: 45px;
    background-image: linear-gradient(rgb(114, 18, 101), rgb(55, 4, 240));
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}